[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-language-server = {extras = ["all"],version = "*"}
pyls-mypy = "*"
pyls-isort = "*"
pyls-black = "*"

[packages]
nflstats = {path = ".",editable = true}
numpy = "*"
scipy = "*"
seaborn = "*"
jinja2 = "*"
pandas = "*"
beautifulsoup4 = "*"
progressbar2 = "*"
lxml = "*"
tk = "*"
pycairo = "*"
pygobject = "*"
retrying = "*"
pyarrow = "*"
pyreadr = "*"
scikit-learn = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
