[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
seaborn = "*"
jinja2 = "*"
pandas = "*"
beautifulsoup4 = "*"
progressbar2 = "*"
lxml = "*"
tk = "*"
pycairo = "*"
pygobject = "*"

[requires]
python_version = "3.7"
